    body {
      margin: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      font-family: sans-serif;
      background: url("/images/rokusaba.png") center/cover no-repeat;
    }
    h1 {
      font-size: 48px;
      margin: 0 0 0px;
    }
    h2 {
      font-size: 40px;
      margin: 0 0 20px;
    }
    h3 {
      font-weight: bold;
    }
    .sub-title {
      font-size: 24px;
      margin-bottom: 20px;
    }
    img {
      max-width: 300px;
      height: auto;
    }
